<div class="grid_3">
    <div class="sidebar">
        @await Html.PartialAsync("PostInfo")
        @await Html.PartialAsync($"~/Views/{Template.Current.Identifier}/Shared/Catalog.cshtml")
        @await Html.PartialAsync("Tag")
        @await Html.PartialAsync("Calendar")
        @await Html.PartialAsync("Admin")
    </div>
    @await Html.PartialAsync("About")
    @await Html.PartialAsync("Roll")
</div>
<div class="clear"></div>
